{{#partial "content"}}
    <div class="site-content">
        <div class="cols-row">
            <h1>Sub-workflow Sample Page</h1>
            <p>For example, the Hotels app has a primary workflow of searching and booking hotels. That workflow and its Views are all managed by one controller, the HotelController. Now let's say the Hotel app has a sub-workflow for managing a list of favorite hotels. This sub-workflow would get its own 'FavoriteHotelsController' and 'favorite-hotels' View(s).</p>
        </div>
    </div>
{{/partial}}

{{#partial "more-scripts"}}
    {{getPresenter}}
{{/partial}}

{{> layouts/default}}
